<div class="station-show">
  <div class="station-box">
    <div class="station-name">
      <p><%= @station.name %>駅
      </p>
    </div>
    <div class="station-form">
      <%= form_with url: station_path(@station), local: true, method: :get do |f| %>
      <div class="station-form-search">
        <div class="search-form">
          <div><%= f.label :platform_id, "プラットフォーム番号", class: "search-input" %>
            <div class="cp_iptxt">
              <label class="ef">
                <%= f.search_field :platform_id, class: "search-form2" %>
                <p class="form-message">番フォームに到着</p>
              </label>
            </div>
          </div>
        </div>
        <div><%= f.submit "Search!", class: "button2" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="search-platform">
      <table>
        <tr>
          <th>到着ホーム</th>
          <td>
          <% if @platform %>
            <div class="form-text">
              <%= ("#{@platform.number}番ホーム") %>
            </div>
          <% end %>
          </td>
        </tr>
        <tr>
          <th>エレベーター設置場所</th>
          <td>
          <% if @platform %>
            <div class="elevator-text">
              <%= ("電車進行方向 #{@platform.elevator.name}") %>
            </div>
          <% end %>
          </td>
        </tr>
        <tr>
          <th>エスカレーター設置場所</th>
          <td>
            <% if @platform %>
              <div class="escalator-text">
                <%= ("電車進行方向 #{@platform.escalator.name}") %>
              </div>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>トイレ設置場所</th>
          <td>
            <% if @platform %>
              <div class="toilet-text">
                <%= ("電車進行方向 #{@platform.toilet.name}") %>
              </div>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>コインロッカー設置場所</th>
          <td>
            <% if @platform %>
              <div class="coinlocker-text">
                <%= ("電車進行方向 #{@platform.coinlocker.name}") %>
              </div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="wrap-show">
      <%= link_to '戻る', stations_path, method: :get, class:'button3' %>
    </div>
  </div>
</div>